# Default values for egress.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 3

egress:
    log_level: debug
    health_port: 8080
    prometheus_port: 9090

terminationGracePeriodSeconds: 3600

nameOverride: ""
fullnameOverride: ""

autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80

nodeSelector: {}

resources: {}

serviceAccount:
    create: false
    annotations: {}
    name: ""

podAnnotations:
    sidecar.istio.io/inject: "false"
    linkerd.io/inject: disabled

podSecurityContext: {}

securityContext: {}

tolerations: []

affinity: {}
