replicaCount: 3

livekit:
    port: 7880
    log_level: debug
    rtc:
        tcp_port: 7881
        port_range_start: 50000
        port_range_end: 60000
        use_external_ip: true
    redis:
        address: "${aws_redis_cluster}"
        username: "${livekit_redis_username}"
        password: "${livekit_redis_password}"
        use_tls: false
    keys:
        "${livekit_api_key}": "${livekit_api_secret}"
    turn:
        enabled: true
        tls_port: 5349
        external_tls: true
        domain: "${livekit_turn_domain_name}"
        secretName: "${livekit_secret_name}"
        key_file: "tls.key"    # Matches the key in the secret
        cert_file: "tls.crt"   # Matches the key in the secret

podHostNetwork: true

resources:
    limits:
        cpu: 2000m
        memory: 2048Mi
    requests:
        cpu: 1000m
        memory: 1024Mi

extraVolumes:
    - name: tls-cert
      secret:
          secretName: "${livekit_secret_name}"

extraVolumeMounts:
    - name: tls-cert
      mountPath: /etc/lkcert
      readOnly: true

autoscaling:
    enabled: true
    minReplicas: 2
    maxReplicas: 5
    targetCPUUtilizationPercentage: 80
