replicaCount: 3

serviceAccount:
    create: false
    annotations:
        eks.amazonaws.com/role-arn: ${livekit_pods_role}
    name: livekit-service-account

livekit:
    port: 7880
    log_level: debug
    rtc:
        tcp_port: 7881
        port_range_start: 50000
        port_range_end: 60000
        use_external_ip: true
    redis:
         address: "${aws_redis_cluster}"
         username: "${livekit_redis_username}"
         password: "${livekit_redis_password}"
         use_tls: false
    keys:
        "${livekit_api_key}": "${livekit_api_secret}"
    turn:
        enabled: true
        tls_port: 5349
        external_tls: false
        domain: "${livekit_turn_domain_name}"
        secretName: "${livekit_secret_name}"
        key_file: "tls.key"
        cert_file: "tls.crt"

service:
    type: LoadBalancer
    annotations:
        service.beta.kubernetes.io/aws-load-balancer-type: external
        service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
        service.beta.kubernetes.io/aws-load-balancer-scheme: internet-facing
        service.beta.kubernetes.io/aws-load-balancer-attributes: load_balancing.cross_zone.enabled=true
        service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443,5349"
        service.beta.kubernetes.io/aws-load-balancer-ssl-cert: ${acm_certificate_arn}
    ports:
        - port: 80
          targetPort: 7880
          protocol: TCP
        - port: 443
          targetPort: 7880
          protocol: TCP
        - port: 7880
          targetPort: 7880
          protocol: TCP
        - port: 7881
          targetPort: 7881
          protocol: TCP
        - port: 7882
          targetPort: 7882
          protocol: UDP
        - port: 3478
          targetPort: 3478
          protocol: UDP
        - port: 5349
          targetPort: 5349
          protocol: TCP
    externalTrafficPolicy: Local

podHostNetwork: true

resources:
    limits:
        cpu: 2000m
        memory: 2048Mi
    requests:
        cpu: 1000m
        memory: 1024Mi

extraVolumes:
    - name: tls-cert
      secret:
          secretName: "${livekit_secret_name}"

extraVolumeMounts:
    - name: tls-cert
      mountPath: /etc/lkcert
      readOnly: true

